/* :root {

} */

/* div:hover {
  background-color: aquamarine;
}

div:not(.nao) {
  background-color: blue;
} */

/* section:has(div:hover) {
  border: 2px solid red;
} */

div:nth-child(2) {
  background-color: aqua;
}