div {
  background-color: black;
  width: 60px;
  height: 60px;
  margin-bottom: 5px;
}

section {
  position: relative;
  border: 1px solid blue;
  overflow: scroll;
  height: 250px;
}

.position {
  background-color: red;
  
  position: sticky;
  /* width: auto;
  height: auto; */
  /* top: 20px;
  right: 20px; */
  /* left: 20px; */
  inset: 10px;
  z-index: -1; 
}