.container {
  height: 50vh;
  display: flex;
  /* flex-direction: column; */
  /* justify-content: center; */
  align-items: center;
  align-content: flex-start;
  /* gap: 10%; */
  flex-wrap: wrap;
}

.item {
  --hue: 0;
  text-align: center;
  background-color: hsl(var(--hue), 100%, 70%);
  width: 120px;
}